<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="/favicon.ico">

    <!-- Use the title from a pages frontmatter if it has one -->
    <title><%= current_page.data.title %> | Shadeomatic</title>

    <link href="https://fonts.googleapis.com/css?family=Lora|Roboto:400,400i,700" rel="stylesheet">
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-theme" %>
    <%= stylesheet_link_tag "jquery.bxslider" %>
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">
          You are using an <strong>outdated</strong> browser. 
          Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
    <![endif]-->

    <div class="row-language">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="languages">                            
                        <li>
                            <a href="#french">
                                Français
                            </a>
                        </li>
                        <li class="active">
                            <a href="#english">
                                English
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header class="row-nav">
        <nav class="navbar navbar-default"> 
            <div class="container"> 
                <div class="navbar-header"> 
                    <button id="navigation-menu" type="button" class="closed collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button>
                    <a href="/" class="navbar-brand">
                        <img src="/images/logo.png" alt="Shadeomatic Logo" />
                    </a>
                </div> 

                <div class="collapse navbar-collapse" id="main-menu"> 
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="/">Home</a>
                        </li> 
                        <li>
                            <a href="/company">Company</a>
                        </li> 
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              Products <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-left">
                              <li><a href="/blinds-shades">Blinds and Shades</a></li>
                              <li><a href="/shutters">Shutters</a></li>                              
                            </ul>
                        </li>                                
                        <li>
                            <a href="/faq">Resources</a>
                        </li> 
                        <li>
                            <a href="/dealer-locator">Dealer Locator</a>
                        </li> 
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul> 
                </div> 
            </div> 
        </nav>                    
    </header>

    <%= yield %>

    <footer class="row-footer">
        <div class="container">            
            <div class="row">                
                <div class="col-md-3">
                    <p>
                        <strong>
                            About Us
                        </strong>
                    </p>
                    <ul class="list">
                        <li>
                            <a href="/company">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="/news">
                                News
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="/terms-of-use">
                                Terms Of Use 
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p>
                        <strong>
                            Our Products
                        </strong>                        
                    </p>

                    <ul class="list">
                        <li>
                            <a href="#">
                                Blinds and Shades
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Shutters 
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p>
                        <strong>
                            Customer Support
                        </strong>                        
                    </p>

                    <ul class="list">
                        <li>
                            <a href="/faq">
                                F.A.Q
                            </a>
                        </li>
                        <li>
                            <a href="/dealer-locator">
                                Dealer Locator
                            </a>
                        </li>
                        <li>
                            <a href="/measurement-guides">
                                Measurement Guides
                            </a>
                        </li>
                        <li>
                            <a href="/installation-instructions">
                                Installation Instructions
                            </a>
                        </li>                        
                        <li>
                            <a href="/warranty">
                                Warranty
                            </a>
                        </li>
                        <li>
                          <a href="/warranty-registration">
                            Warranty Registration
                          </a>
                        </li>
                        <li>
                            <a href="/child-safety">
                                Child Safety
                            </a>
                        </li>                        
                    </ul>
                </div>
                <div class="col-md-3">
                    <p>
                        <strong>
                            Contact Us
                        </strong>                        
                    </p>

                    <ul class="list">                        
                        <li>
                            <address>                                
                                132 First Gulf Blvd. 
                                <br>
                                Brampton, Ontario 
                                <br>
                                L6W 4T7
                            </address>
                        </li>
                        <li>
                            <a href="tel:1-800-789-0331">                                
                                1-800-789-0331
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@shadeomatic.ca">                                
                                info@shadeomatic.ca
                            </a>
                        </li>
                    </ul>                    
                </div>

                <div class="col-xs-12">
                    <p>
                        <strong>
                            Connect with us
                        </strong>                        
                    </p>
                    <p>
                        <a href="https://www.facebook.com/shadeomaticLP/" target="_blank">
                            <img src="/images/facebook-50.png" alt="Facebook" class="social"/>
                        </a>
                        <a href="https://www.instagram.com/shadeomatic.canada/" target="_blank">
                            <img src="/images/instagram-50.png" alt="Instagram" class="social"/>    
                        </a>                        
                        <a href="http://www.pinterest.com/shadeomaticLP/" target="_blank">
                            <img src="/images/pinterest-50.png" alt="Pinterest" class="social"/>
                        </a>
                        <a href="https://www.youtube.com/channel/UCnygd20Tz8v4h2_m3n34smQ" target="_blank">
                            <img src="/images/youtube-50.png" alt="Youtube" class="social"/>
                        </a>                        
                    </p>                    
                </div>

                <div class="col-xs-12">
                    <p>
                        Shade O Matic, 2017. All right Reserved
                    </p>                        
                </div>
            </div>
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- https://unpkg.com/vue -->
    <%= javascript_include_tag "vue.min.js" %>    

    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "jquery.bxslider.min.js" %>
    <%= javascript_include_tag "main.js" %>

    <%if current_page.data.title == "Installation Instructions" %> 
    <%= javascript_include_tag "installation.js" %>
    <% end %>
    
    <%if current_page.data.title == "Measurement Guides" %> 
    <%= javascript_include_tag "measurement.js" %>
    <% end %>

    <%if current_page.data.title == "Dealer Locator" %> 
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HUxEbYS_5Y80fNWk4El1IC6AICXARxw&libraries=places">
        </script>
    <%= javascript_include_tag "dealer-locator.js" %>
    <% end %>

  </body>
</html>
