<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">        
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#8cc63f">

    <!-- SEO Meta Tag -->
    <meta name="description" content="<%=current_page.data.description %>">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="<%= current_page.data.title%>" />
    <meta property="og:type" content="<%= current_page.data.mediatype%>" />
    <meta property="og:url" content="https://www.shadeomatic.com<%=current_page.url%>"/>
    <meta property="og:image" content="https://alpha.shadeomatic.com<%= current_page.data.image%>" />

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/images/homescreen32.png">
   
    <!-- Use the title from a pages frontmatter if it has one -->
    <title><%= current_page.data.title %> | Shadeomatic</title>
    
    <%= stylesheet_link_tag "bootstrap" %>
    <link rel="stylesheet" media="print" href="/stylesheets/print.css" />   
    
    <noscript>
        <link href="https://fonts.googleapis.com/css?family=Lora|Roboto:400,400i,700" rel="stylesheet">
    </noscript>    
        
    <%if current_page.data.category == "homepage" %>
    <style>
        @media only screen and (min-width : 320px) {
        .bg-1 {
            background-image: url('../images/slideshow/1x480.jpg');    
        }
        .bg-2 {
            background-image: url('../images/slideshow/2x480.jpg');    
        }
        .bg-3 {
            background-image: url('../images/slideshow/3x480.jpg');    
        }
        .bg-4 {
            background-image: url('../images/slideshow/4x480.jpg');    
        }
        }

        /* Extra Small Devices, Phones */ 
        @media only screen and (min-width : 480px) {
        .bg-1 {
            background-image: url('../images/slideshow/1x768.jpg');    
        }
        .bg-2 {
            background-image: url('../images/slideshow/2x768.jpg');    
        }
        .bg-3 {
            background-image: url('../images/slideshow/3x768.jpg');    
        }
        .bg-4 {
            background-image: url('../images/slideshow/4x768.jpg');    
        }
        }

        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {
        .bg-1 {
            background-image: url('../images/slideshow/1x992.jpg');    
        }
        .bg-2 {
            background-image: url('../images/slideshow/2x992.jpg');    
        }
        .bg-3 {
            background-image: url('../images/slideshow/3x992.jpg');    
        }
        .bg-4 {
            background-image: url('../images/slideshow/4x992.jpg');    
        }
        }

        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {
        .bg-1 {
            background-image: url('../images/slideshow/1x1920.jpg');    
        }
        .bg-2 {
            background-image: url('../images/slideshow/2x1920.jpg');    
        }
        .bg-3 {
            background-image: url('../images/slideshow/3x1920.jpg');    
        }
        .bg-4 {
            background-image: url('../images/slideshow/4x1920.jpg');    
        }
        }

        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {
        .bg-1 {
            background-image: url('../images/slideshow/1x1920.jpg');    
        }
        .bg-2 {
            background-image: url('../images/slideshow/2x1920.jpg');    
        }
        .bg-3 {
            background-image: url('../images/slideshow/3x1920.jpg');    
        }
        .bg-4 {
            background-image: url('../images/slideshow/4x1920.jpg');    
        }
        }
    </style>
    <% end %>

    <!-- Product Stylesheets -->
    <%if current_page.data.name == "honeycomb" %>
        <link rel="stylesheet" href="/stylesheets/products/product.css" />
        <link rel="stylesheet" href="/stylesheets/products/honeycomb.css" />
    <% end %>    
    <%if current_page.data.name == "shadowmagic" %>
        <link rel="stylesheet" href="/stylesheets/products/product.css" />
        <link rel="stylesheet" href="/stylesheets/products/shadowmagic.css" />
    <% end %>

  </head>

  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">
          You are using an <strong>outdated</strong> browser. 
          Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
    <![endif]-->

    <div id="row-language" class="row-language">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="languages">                            
                        <li>
                            <a href="#french">
                                Français
                            </a>
                        </li>
                        <li class="active">
                            <a href="#english">
                                English
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header id="row-nav" class="row-nav">
        <nav class="navbar navbar-default"> 
            <div class="container"> 
                <div class="navbar-header"> 
                    <button id="navigation-menu" type="button" class="closed collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button>
                    <a href="/" class="navbar-brand">
                        <img src="/images/logo.png" alt="Shadeomatic Logo" />
                    </a>
                </div> 

                <div class="collapse navbar-collapse" id="main-menu"> 
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="/">Home</a>
                        </li> 
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              Products <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-left">
                              <li><a href="/blinds-shades">Blinds and Shades</a></li>
                              <li><a href="/shutters">Shutters</a></li>                              
                            </ul>
                        </li>                                
                        <li>
                            <a href="/faq">Resources</a>
                        </li> 
                        <li>
                            <a href="/dealer-locator">Dealer Locator</a>
                        </li> 
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                About <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-left">
                              <li><a href="/company">Company</a></li>
                              <li><a href="/News">News</a></li>                              
                            </ul>
                        </li> 
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul> 
                </div> 
            </div> 
        </nav>                    
    </header>

    <%= yield %>

    <footer class="row-footer">
        <div class="container">            
            <div class="row">                
                <div class="col-md-3">
                    <p>
                        <strong>
                            About Us
                        </strong>
                    </p>
                    <ul class="list">
                        <li>
                            <a href="/company">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="/news">
                                News
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="/terms-of-use">
                                Terms Of Use 
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p>
                        <strong>
                            Our Products
                        </strong>                        
                    </p>

                    <ul class="list">
                        <li>
                            <a href="#">
                                Blinds and Shades
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Shutters 
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p>
                        <strong>
                            Customer Support
                        </strong>                        
                    </p>

                    <ul class="list">
                        <li>
                            <a href="/faq">
                                F.A.Q
                            </a>
                        </li>
                        <li>
                            <a href="/dealer-locator">
                                Dealer Locator
                            </a>
                        </li>
                        <li>
                            <a href="/measurement-guides">
                                Measurement Guides
                            </a>
                        </li>
                        <li>
                            <a href="/installation-instructions">
                                Installation Instructions
                            </a>
                        </li>                        
                        <li>
                            <a href="/warranty">
                                Warranty
                            </a>
                        </li>
                        <li>
                          <a href="/warranty-registration">
                            Warranty Registration
                          </a>
                        </li>
                        <li>
                            <a href="/child-safety">
                                Child Safety
                            </a>
                        </li>                        
                    </ul>
                </div>
                <div class="col-md-3">
                    <p>
                        <strong>
                            Contact Us
                        </strong>                        
                    </p>

                    <ul class="list">                        
                        <li>
                            <address>                                
                                132 First Gulf Blvd. 
                                <br>
                                Brampton, Ontario 
                                <br>
                                L6W 4T7
                            </address>
                        </li>
                        <li>
                            <a href="tel:1-800-789-0331">                                
                                1-800-789-0331
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@shadeomatic.ca">                                
                                info@shadeomatic.ca
                            </a>
                        </li>
                    </ul>                    
                </div>

                <div class="col-xs-12">
                    <p>
                        <strong>
                            Connect with us
                        </strong>                        
                    </p>
                    <p>
                        <a href="https://www.facebook.com/shadeomaticLP/" target="_blank">
                            <img src="/images/facebook-50.png" alt="Facebook" class="social"/>
                        </a>
                        <a href="https://www.instagram.com/shadeomatic.canada/" target="_blank">
                            <img src="/images/instagram-50.png" alt="Instagram" class="social"/>    
                        </a>                        
                        <a href="http://www.pinterest.com/shadeomaticLP/" target="_blank">
                            <img src="/images/pinterest-50.png" alt="Pinterest" class="social"/>
                        </a>
                        <a href="https://www.youtube.com/channel/UCnygd20Tz8v4h2_m3n34smQ" target="_blank">
                            <img src="/images/youtube-50.png" alt="Youtube" class="social"/>
                        </a>                        
                    </p>                    
                </div>

                <div class="col-xs-12">
                    <p>
                        Shade O Matic, 2017. All right Reserved
                    </p>                        
                </div>
            </div>
        </div>
    </footer>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="/javascripts/jquery.bxslider.js" defer></script>    
    <script src="/javascripts/bootstrap.js" defer></script>
    <script src="/javascripts/jquery.appear.js" defer></script>
    
    <%if current_page.data.title == "Installation Instructions" %> 
        <%= javascript_include_tag "vue.min.js" %>
        <%= javascript_include_tag "installation.js" %>
    <% end %>
    
    <%if current_page.data.title == "Measurement Guides" %>
        <%= javascript_include_tag "vue.min.js" %>
        <%= javascript_include_tag "measurement.js" %>
    <% end %>

    <%if current_page.data.title == "Dealer Locator" %> 
        <%= javascript_include_tag "vue.min.js" %>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HUxEbYS_5Y80fNWk4El1IC6AICXARxw&libraries=places">
        </script>
        <%= javascript_include_tag "dealer-locator.js" %>
    <% end %>
    
    <%if current_page.data.category == "product" %>
        <script src="/javascripts/product.js" defer></script>
    <% end %>    

    <%if current_page.data.type == "contact" %>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="/javascripts/jquery.validate.min.js" defer></script>
        <script src="/javascripts/contact.js" defer></script>
    <% end %>
  </body>
</html>
