<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="/favicon.ico">

    <!-- Use the title from a pages frontmatter if it has one -->
    <title><%= current_page.data.title %> | Shadeomatic</title>

    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-theme" %>
    <%= stylesheet_link_tag "jquery.bxslider" %>
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">
          You are using an <strong>outdated</strong> browser. 
          Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
    <![endif]-->

    <div class="row-language">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="languages">                            
                        <li>
                            <a href="#french">
                                Français
                            </a>
                        </li>
                        <li class="active">
                            <a href="#english">
                                English
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row-nav">
        <nav class="navbar navbar-default"> 
            <div class="container"> 
                <div class="navbar-header"> 
                    <button id="navigation-menu" type="button" class="closed collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button>
                    <a href="/" class="navbar-brand">
                        <img src="images/logo.png" alt="Shadeomatic Logo" />
                    </a>
                </div> 

                <div class="collapse navbar-collapse" id="main-menu"> 
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="/">Home</a>
                        </li> 
                        <li>
                            <a href="/company">Company</a>
                        </li> 
                        <li class="dropToggle">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              Products <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-left">
                              <li><a href="#">Blinds and Shades</a></li>
                              <li><a href="#">Shutters</a></li>                              
                            </ul>
                        </li>                                
                        <li>
                            <a href="/faq">Resources</a>
                        </li> 
                        <li>
                            <a href="#">Dealer Locator</a>
                        </li> 
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul> 
                </div> 
            </div> 
        </nav>                    
    </div>

    <%= yield %>

    <footer class="row-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="section-title">
                        About Us
                    </p>
                    <ul class="list">
                        <li>
                            <a href="/company">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="/news">
                                News
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="/terms-of-use">
                                Terms Of Use 
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p class="section-title">
                        Our Products
                    </p>

                    <ul class="list">
                        <li>
                            <a href="#">
                                Blinds and Shades
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Shutters 
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p class="section-title">
                        Customer Support
                    </p>

                    <ul class="list">
                        <li>
                            <a href="/faq">
                                F.A.Q
                            </a>
                        </li>
                        <li>
                            <a href="/warranty">
                                Warranty
                            </a>
                        </li>
                        <li>
                            <a href="/installation-instructions">
                                Installation Instructions
                            </a>
                        </li>
                        <li>
                          <a href="/warranty-registration">
                            Warranty Registration
                          </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p class="section-title">
                        Contact Us
                    </p>

                    <ul class="list">
                        <li>
                            <a href="tel:1-800-789-0331">
                                1-800-789-0331
                            </a>                            
                            <br>
                            Weekdays 8:30am to 6pm (ET)         
                        </li>
                        <li>
                            <a href="/dealer-locator">
                                Dealer Locator
                            </a>
                        </li>
                    </ul>

                    
                </div>

                <div class="col-xs-12">
                    <p>
                        Shade O Matic, 2017. All right Reserved
                    </p>                        
                </div>
            </div>
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "jquery.bxslider.min.js" %>
    <%= javascript_include_tag "main.js" %>
    <%= javascript_include_tag "installation.js" %>

  </body>
</html>
