<% wrap_layout :layout do %>

    <div class="row-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="<%=lang_helper%>">
                                <%= t(:home) %>
                            </a>
                        </li>
                        <li class="active">
                            <%= current_page.data.title %>
                        </li>
                    </ul>  
                </div>
            </div>
        </div>    
    </div>
    
    <div class="row-default">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <ul class="tab-list stay">
                        <li role="presentation" <%if current_page.data.id == "F.A.Q" %> class="active" <% end %> >
                            <a href="<%=lang_helper%>faq">
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> 
                                <%= t(:faq) %>
                            </a>
                        </li>
                        <li role="presentation" <%if current_page.data.id == "Measurement Guides" %> class="active" <% end %>>
                            <a href="<%=lang_helper%>measurement-guides">                                
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                <%= t(:measurementGuides) %>
                            </a>
                        </li>
                        <li role="presentation" <%if current_page.data.id == "Installation Instructions" %> class="active" <% end %>>
                            <a href="<%=lang_helper%>installation-instructions">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> 
                                <%= t(:installationInstructions) %>
                            </a>
                        </li>                
                        <li role="presentation" <%if current_page.data.id == "Warranty" %> class="active" <% end %>>
                            <a href="<%=lang_helper%>warranty">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>                                
                                <%= t(:warranty) %>
                            </a>
                        </li>                        
                        <li role="presentation" <%if current_page.data.id == "Child Safety" %> class="active" <% end %>>
                            <a href="<%=lang_helper%>child-safety">                                
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                <%= t(:childSafety) %>
                            </a>
                        </li>                        
                    </ul>
                </div>
                <div class="col-md-9 col-xs-12">
                    <h1 class="section-title text-center">
                        <%= current_page.data.fullTitle || current_page.data.title%>
                        <hr>
                        <small class="description">
                        <%= current_page.data.smallDesc %>                        
                        </small>
                    </h1>
                    <%= yield%>
                </div>
            </div>
        </div>
    </div>        
    
<% end %>