---
title: Bienvenue à Shadeomatic
name: Shadeomatic
description: Shade-O-Matic est le chef de file canadien dans le secteur des recouvrements de fenêtres de qualité supérieure. Tous nos stores et nos persiennes sont fabriqués sur mesure afin de s’assurer qu'ils conviennent parfaitement à chacune de vos fenêtres
image: /images/slideshow/1x1920.jpg
category: homepage
mediatype: website
---

<div id="home-slider">
<!-- Slideshow -->
<%= partial "mainslider"%>
</div>


<div id="row-slogan" class="row-slogan">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <img src="/images/35years-icon.png" alt="35 Years logo" />
                </p>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Shade-O-Matic est le chef de file canadien dans le secteur des recouvrements de fenêtres de qualité supérieure. 
                    <br>
                    Tous nos stores et nos persiennes sont fabriqués sur mesure afin de s’assurer qu'ils conviennent parfaitement à chacune de vos fenêtres.                     
                </p>
            </div>
        </div>
    </div>
</div>

<section id="blinds-shades" class="row-default row-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="section-title text-center">
                        Stores
                        <hr>
                        <small class="description">
                            Trouvez l’équilibre parfait de lumière et d’intimité grâce à notre vaste sélection de stores
                        </small>
                    </h1>
                </div>
                <div class="clearfix"></div>
                
                <div class="owl-carousel owl-theme">
                    <% data.products.products.each do |p| %>
                    <% if p.category == "blinds" %>
    
                        <%= partial "productcard", :locals => {:product => p} %>
                    
                    <% end %>
                    <% end %>
                </div>            
                
                <div class="col-xs-12">
                    <a href="<%=lang_helper%>blinds-shades" class="pull-right text-uppercase">
                        Vue Stores
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <section id="shutters" class="row-default">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="section-title text-center">
                        Persiennes
                        <hr>
                        <small class="description">
                            Les persiennes sont le choix idéal des clients qui souhaitent recouvrir leurs fenêtres avec élégance et commodité.Les persiennes sont à la fois classiques et fonctionnelles. Elles ajoutent une touche d’élégance dans tous les espaces où vous les placez
                        </small>
                    </h1>
                </div>
                
                <% data.products.products.each do |p| %>
                    <% if p.category == "shutters" %>
                    <div class="col-lg-6 col-md-6 col-xs-12">
    
                        <%= partial "productcard", :locals => {:product => p} %>
    
                    </div>
                    <% end %>          
                <% end %>
                <div class="col-xs-12">
                    <a href="<%=lang_helper%>shutters" class="pull-right text-uppercase">
                        Vue Persiennes
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>