<footer class="row-footer">
<div class="container">            
    <div class="row">                
        <div class="col-md-3">
            <p>
                <strong class="text-capitalize">
                    <%= t(:about) %>
                </strong>
            </p>
            <ul class="list">
                <li>
                    <a href="<%=lang_helper%>company" class="text-capitalize">
                        <%= t(:company) %>
                    </a>
                </li>
                <li>
                    <a href="<%=lang_helper%>news" class="text-capitalize">
                        <%= t(:news) %>
                    </a>
                </li>
                <li>
                    <a href="<%=lang_helper%>contact" class="text-capitalize">
                        <%= t(:contact) %>
                    </a>
                </li>
                <li>
                    <a href="<%=lang_helper%>terms-of-use" class="text-capitalize">
                        <%= t(:termsOfUse) %>
                    </a>
                </li>
                <li>
                    <a href="<%=lang_helper%>privacy-policy" class="text-capitalize">
                        <%= t(:privacyPolicy) %>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <p>
                <strong class="text-capitalize">
                    <%= t(:ourProducts) %>
                </strong>                        
            </p>

            <ul class="list">
                <li>
                    <a href="<%=lang_helper%>blinds-shades" class="text-capitalize">
                        <%= t(:blindsAndShades) %>
                    </a>
                </li>
                <li>
                    <a href="<%=lang_helper%>shutters" class="text-capitalize">
                        <%= t(:shutters) %>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <p>
                <strong class="text-capitalize">
                    <%= t(:customerSupport) %>
                </strong>
            </p>

            <ul class="list">
                <li>
                    <a href="<%=lang_helper%>faq" class="text-capitalize">
                        F.A.Q
                    </a>
                </li>
                <li>
                    <a href="<%=lang_helper%>dealer-locator" class="text-capitalize">
                        <%= t(:dealerLocator) %>
                    </a>
                </li>
                <li>
                    <a href="<%=lang_helper%>measurement-guides" class="text-capitalize">
                        <%= t(:measurementGuides) %>                        
                    </a>
                </li>
                <li>
                    <a href="<%=lang_helper%>installation-instructions" class="text-capitalize">
                        <%= t(:installationInstructions) %>
                    </a>
                </li>                        
                <li>
                    <a href="<%=lang_helper%>warranty" class="text-capitalize">
                        <%= t(:warranty) %>
                    </a>
                </li>
                <li>
                    <a href="<%=lang_helper%>warranty-registration" class="text-capitalize">
                        <%= t(:warrantyRegistration) %>
                    </a>
                </li>
                <li>
                    <a href="<%=lang_helper%>child-safety" class="text-capitalize">
                        <%= t(:childSafety) %>
                    </a>
                </li>                        
            </ul>
        </div>
        <div class="col-md-3">
            <p>
                <strong class="text-capitalize">
                    <%= t(:contact) %>
                </strong>                        
            </p>

            <ul class="list">                        
                <li>
                    <address>
                        132 First Gulf Blvd. 
                        <br>
                        Brampton, Ontario 
                        <br>
                        L6W 4T7
                    </address>
                </li>
                <li>
                    <a href="tel:1-800-789-0331">                                
                        1-800-789-0331
                    </a>
                </li>
                <li>
                    <a href="mailto:info@shadeomatic.ca">                                
                        info@shadeomatic.ca
                    </a>
                </li>
            </ul>                    
        </div>

        <div class="col-xs-12">
            <p>
                <strong class="text-capitalize">
                    <%= t(:connectWithUs) %>
                </strong>                        
            </p>
            <p>
                <a href="https://www.facebook.com/shadeomaticLP/" target="_blank">
                    <img src="/images/facebook-50.png" alt="Facebook" class="social"/>
                </a>
                <a href="https://www.instagram.com/shadeomatic.canada/" target="_blank">
                    <img src="/images/instagram-50.png" alt="Instagram" class="social"/>    
                </a>                        
                <a href="http://www.pinterest.com/shadeomaticLP/" target="_blank">
                    <img src="/images/pinterest-50.png" alt="Pinterest" class="social"/>
                </a>
                <a href="https://www.youtube.com/channel/UCnygd20Tz8v4h2_m3n34smQ" target="_blank">
                    <img src="/images/youtube-50.png" alt="Youtube" class="social"/>
                </a>
                <a href="#row-language" class="pull-right top">
                    <span class="hidden-xs">
                        <%= t(:top) %>
                    </span>
                    <span class="hidden-sm hidden-md hidden-lg">
                        <%= t(:top) %>
                    </span>
                    <span class="glyphicon glyphicon-arrow-up"></span>                    
                </a>
            </p>                    
        </div>

        <div class="col-xs-12">
            <p class="text-capitalize">
                <%= t(:rights) %>
            </p>                        
        </div>
    </div>
</div>
</footer>