<header>
<div id="row-language" class="row-language">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="languages">                            
                    <li class="<%= activeFrench%>">                        
                        <a href="<%=frenchUrl%>">
                            Français
                        </a>
                    </li>
                    <li class="<%= activeEnglish%>">
                        <a href="<%=englishUrl%>">
                            English
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="row-nav" class="row-nav">
<nav class="navbar navbar-default"> 
    <div class="container"> 
        <div class="navbar-header"> 
            <button id="navigation-menu" type="button" class="closed collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false"> 
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button>
            <a href="<%=lang_helper%>" class="navbar-brand">
                <img srcset="/images/logo.svg" src="/images/logo.png" alt="Shadeomatic Logo" />
            </a>
        </div> 

        <div class="collapse navbar-collapse" id="main-menu"> 
            <ul class="nav navbar-nav navbar-right"> 
                <li>                    
                    <a href="<%=lang_helper%>">
                        <%= t(:home) %>
                    </a>
                </li> 
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <%= t(:products) %>
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left">
                    <li>
                        <a href="<%=lang_helper%>blinds-shades">
                            <%= t(:blindsAndShades) %>
                        </a>
                    </li>
                    <li>
                        <a href="<%=lang_helper%>shutters">
                            <%= t(:shutters) %>
                        </a>
                    </li>                              
                    </ul>
                </li>                                
                <li>
                    <a href="<%=lang_helper%>faq">
                        <%= t(:resources) %>
                    </a>
                </li> 
                <li>
                    <a href="<%=lang_helper%>dealer-locator">
                        <%= t(:dealerLocator) %>
                    </a>
                </li> 
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <%= t(:about) %>
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left">
                    <li>
                        <a href="<%=lang_helper%>company">
                            <%= t(:company) %>
                        </a>
                    </li>
                    <li>
                        <a href="<%=lang_helper%>news">
                            <%= t(:news) %>
                        </a>
                    </li>                              
                    </ul>
                </li> 
                <li>
                    <a href="<%=lang_helper%>contact">
                        <%= t(:contact) %>
                    </a>
                </li>
            </ul>
        </div> 
    </div> 
</nav>                    
</div>
</header>    