<ul class="bxslider">
<li class="active bg bg-1">    
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <%= t(:firstSlogan) %>
                </h1>
                <a href="<%=lang_helper%>blinds-shades" class="btn btn-ghost btn-lg">
                    <%= t(:view) %> <%= t(:blindsAndShades) %>
                </a>                    

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <a href="#product-content" class="scroll-down home-scroll">
        <span class="glyphicon glyphicon-menu-down"></span>
    </a>
</li>
<li class="bg bg-4">    
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <%= t(:secondSlogan) %>
                </h1>                    
                <a href="<%=lang_helper%>shutters" class="btn btn-ghost btn-lg">
                    <%= t(:view) %> <%= t(:shutters) %>
                </a>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <a href="#product-content" class="scroll-down home-scroll">
        <span class="glyphicon glyphicon-menu-down"></span>
    </a>
</li>
<li class="bg bg-2">    
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <%= t(:thirdSlogan) %>
                </h1>
                <a href="<%=lang_helper%>blinds-shades" class="btn btn-ghost btn-lg">
                    <%= t(:view) %> <%= t(:blindsAndShades) %>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <a href="#product-content" class="scroll-down home-scroll">
        <span class="glyphicon glyphicon-menu-down"></span>
    </a>
</li>
<li class="bg bg-3">    
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <%= t(:fourthSlogan) %>
                </h1>
                <a href="<%=lang_helper%>blinds-shades" class="btn btn-ghost btn-lg">
                    <%= t(:view) %> <%= t(:blindsAndShades) %>
                </a>                    

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <a href="#product-content" class="scroll-down home-scroll">
        <span class="glyphicon glyphicon-menu-down"></span>
    </a>
</li>
</ul>