<ul id="slideshow" class="product-slider">
    <li class="product-1">        
        <ul class="product-social pull-right">
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://alpha.shadeomatic.com<%=current_page.url%>" target="_blank">
                    <img srcset="/images/icon-facebook.svg" alt="Share on facebook" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/home?status=https://alpha.shadeomatic.com<%=current_page.url%>" target="_blank">
                    <img srcset="/images/icon-twitter.svg" alt="Share on twitter" />
                </a>
            </li>
            <li>
                <a  target="_blank" 
                    href="https://pinterest.com/pin/create/button/?url=https://alpha.shadeomatic.com<%=current_page.url%>&media=https://alpha.shadeomatic.com<%=current_page.data.image%>&description=<%= current_page.data.name%> <%= current_page.data.description%>">
                    <img srcset="/images/icon-pinterest.svg" alt="Share on pinterest" />
                </a>
            </li>                
        </ul>            
        
    </li>
    <li class="product-2">        
        <ul class="product-social">
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://alpha.shadeomatic.com<%=current_page.url%>" target="_blank">
                    <img srcset="/images/icon-facebook.svg" alt="Share on facebook" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/home?status=https://alpha.shadeomatic.com<%=current_page.url%>" target="_blank">
                    <img srcset="/images/icon-twitter.svg" alt="Share on twitter" />
                </a>
            </li>
            <li>
                <a  target="_blank" 
                    href="https://pinterest.com/pin/create/button/?url=https://alpha.shadeomatic.com<%=current_page.url%>&media=https://alpha.shadeomatic.com<%=current_page.data.image%>&description=<%= current_page.data.name%> <%= current_page.data.description%>">
                    <img srcset="/images/icon-pinterest.svg" alt="Share on pinterest" />
                </a>
            </li>                
        </ul>                            
    </li>
    <li class="product-3">        
        <ul class="product-social">
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://alpha.shadeomatic.com<%=current_page.url%>" target="_blank">
                    <img srcset="/images/icon-facebook.svg" alt="Share on facebook" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/home?status=https://alpha.shadeomatic.com<%=current_page.url%>" target="_blank">
                    <img srcset="/images/icon-twitter.svg" alt="Share on twitter" />
                </a>
            </li>
            <li>
                <a  target="_blank" 
                    href="https://pinterest.com/pin/create/button/?url=https://alpha.shadeomatic.com<%=current_page.url%>&media=https://alpha.shadeomatic.com<%=current_page.data.image%>&description=<%= current_page.data.name%> <%= current_page.data.description%>">
                    <img srcset="/images/icon-pinterest.svg" alt="Share on pinterest" />
                </a>
            </li>                
        </ul>                            
    </li>
</ul>