<ul id="slideshow" class="product-slider">
    <li class="product-1">
        <div class="product-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="pull-right">
                            <li class="title">
                                Share
                            </li>
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://alpha.shadeomatic.com<%=current_page.url%>" target="_blank">
                                    <img srcset="/images/icon-facebook-white.svg" src="/images/icon-facebook-white.png" alt="Share on facebook" />
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/home?status=https://alpha.shadeomatic.com<%=current_page.url%>" target="_blank">
                                    <img srcset="/images/icon-twitter-white.svg" src="/images/icon-twitter-white.png" alt="Share on twitter" />
                                </a>
                            </li>
                            <li>
                                <a  target="_blank" 
                                    href="https://pinterest.com/pin/create/button/?url=https://alpha.shadeomatic.com<%=current_page.url%>&media=https://alpha.shadeomatic.com<%=current_page.data.image%>&description=<%= current_page.data.name%> <%= current_page.data.description%>">
                                    <img srcset="/images/icon-pinterest-white.svg" srcset="/images/icon-pinterest-white.png" alt="Share on pinterest" />
                                </a>
                            </li>                
                        </ul>
                    </div>
                </div>                    
            </div>
            <div class="clearfix"></div>
        </div>
    </li>
    <li class="product-2">        
        <div class="product-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="pull-right">
                            <li class="title">
                                Share
                            </li>
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://alpha.shadeomatic.com<%=current_page.url%>" target="_blank">
                                    <img srcset="/images/icon-facebook-white.svg" src="/images/icon-facebook-white.png" alt="Share on facebook" />
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/home?status=https://alpha.shadeomatic.com<%=current_page.url%>" target="_blank">
                                    <img srcset="/images/icon-twitter-white.svg" src="/images/icon-twitter-white.png" alt="Share on twitter" />
                                </a>
                            </li>
                            <li>
                                <a  target="_blank" 
                                    href="https://pinterest.com/pin/create/button/?url=https://alpha.shadeomatic.com<%=current_page.url%>&media=https://alpha.shadeomatic.com<%=current_page.data.image%>&description=<%= current_page.data.name%> <%= current_page.data.description%>">
                                    <img srcset="/images/icon-pinterest-white.svg" srcset="/images/icon-pinterest-white.png" alt="Share on pinterest" />
                                </a>
                            </li>                
                        </ul>
                    </div>
                </div>                    
            </div>
            <div class="clearfix"></div>
        </div>                       
    </li>
    <li class="product-3">        
        <div class="product-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="pull-right">
                            <li class="title">
                                Share
                            </li>
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://alpha.shadeomatic.com<%=current_page.url%>" target="_blank">
                                    <img srcset="/images/icon-facebook-white.svg" src="/images/icon-facebook-white.png" alt="Share on facebook" />
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/home?status=https://alpha.shadeomatic.com<%=current_page.url%>" target="_blank">
                                    <img srcset="/images/icon-twitter-white.svg" src="/images/icon-twitter-white.png" alt="Share on twitter" />
                                </a>
                            </li>
                            <li>
                                <a  target="_blank" 
                                    href="https://pinterest.com/pin/create/button/?url=https://alpha.shadeomatic.com<%=current_page.url%>&media=https://alpha.shadeomatic.com<%=current_page.data.image%>&description=<%= current_page.data.name%> <%= current_page.data.description%>">
                                    <img srcset="/images/icon-pinterest-white.svg" srcset="/images/icon-pinterest-white.png" alt="Share on pinterest" />
                                </a>
                            </li>                
                        </ul>
                    </div>
                </div>                    
            </div>
            <div class="clearfix"></div>
        </div>                            
    </li>
</ul>